@media (min-width: 1201px) and (max-width: 1919px) {
  .footer-left {
    width: 22%;
    margin-right: 0;
}
.form-check {
  display: flex;
  flex-direction: column;
}

.footer-btn {
  margin-bottom: 10px;
}

.check-box {
  margin-top: 0.2em;
}
.about-content-right-img svg {
  width: 100%;
}

}

@media (max-width: 1200px) {

  .header {
    padding: 10px 0;
  }

  .header-container {
    padding: 16px 50px;
  }

.burger {
  margin-right: 42%;
  position: relative;
  width: auto;
  display: block;
  color: #000000;
}

.header__btn__serch {
  top: 26px;
  right: 50px
}

.header__btn__serch--active {
  transform: translateX(-25px);
 }

.search {
  padding: 9px 95px 4px 29px;
  right: 15px;
}

.search::-webkit-search-cancel-button  {
  position: absolute;
  right: 10px;
  bottom: 12px;
}

.burger-line {
  position: absolute;
  left: 60%;
  width: 30px;
  height: 3px;
  background-color: currentColor;

}

.burger-line:first-child {
  top: 6px;
}

.burger-line:last-child {
  bottom: 11px;
}

.burger-line:nth-child(2) {
  transform: translateY(-120%);
}

/*burger-active*/

.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 42%;
  min-width: 250px;
  height: 100vh;
  z-index: 10;
  padding: 100px 50px;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  overflow-y: auto;
  visibility: hidden;
  transform: translateX(-120%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__nav .nav__list {
  flex-direction: column;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 60px;
}

.header__nav .nav__link {
  font-size: 24px;
}

.header__nav--active {
  visibility: visible;
  transform: none;
}

.burger--active .burger-line:nth-child(2) {
  opacity: 0;
 }

 .burger--active .burger-line:first-child {
   left: 25%;
   top: 50%;
   z-index: 100;
   transform: rotate(45deg);
   transform-origin: center;
   transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
 }
 .burger--active .burger-line:last-child {
   bottom: auto;
   left: 25%;
   top: 50%;
   z-index: 100;
   transform: rotate(-45deg);
   transform-origin: center;
   transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
 }

 .burger-line {
   transition:transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out; ;
 }

 .stop-scroll {
   overflow: hidden;
 }


.header__logo img {
  margin-right: auto;
  width: 67%;
}

.hero {
  padding: 10px  50px;
}

.hero-container {
  padding: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding: 159px 40px;
}

.hero-btn {
  align-self: flex-start;
}

.hero-h1 {
  margin-bottom: 16px;
font-weight: 800;
font-size: 60px;
line-height: 73px;
}

.hero-text {
  margin-bottom: 60px;
  font-weight: 700;
font-size: 20px;
line-height: 24px
}

.about {
  padding: 25px 0 10px 0;
}

.about-container {
  padding: 0 50px;
  margin-bottom: 60px;
}

.about-content {
  flex-direction: column;
}

.about-text {
  margin-bottom: 60px;
}

.about-content-right-text {
  height: 165px;
}

.about-content-left-block-text {
  margin: 0;
  margin-right: auto;
}

.about-content-left {
  margin-bottom: 35px;
  width: 100%;
  height: 640px;
}

.about-content-right-img {

  margin-right: 50px;
  height: 165px ;
}

.about-content-right {
  width: 100%;
}

.top-block {
  padding: 63px 76px;
  height: auto;
}

.bot-block {
  padding: 64px 76px;
}

.work {
  padding: 10px 10px 50px 35px;
}


.work-before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  top: 10px;
  bottom: -18px;
  right: 23px;
  background-image: url(/img/hww1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

.work-content {
 padding: 5px 0;
}

.work-content-left {
  width: 45%;
}

.work-text {
  margin-bottom: 46px;
}


.questions {
  padding: 33px 35px 84px 34px;
}

.item-top-question {
  width: 82%;
  font-size: 20px;
}

.item-top {
  padding-top: 32px;
  padding-bottom: 28px;
}

.footer-right {
  display: none;
}

.footer-container {
  padding: 0 50px;
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-left {
  width: 45%;
}

.footer-center {
  width: 76%;
}

.footer-btn {
  margin-right: 5px;
  padding: 18px 38px;
}

}

@media (min-width: 993px) and (max-width: 1199px) {
  .form-check {
    display: flex;
    flex-direction: row;
  }

  .footer-btn {
    margin-bottom: 0;
  }

  .check-box {
    margin-top: 0;
  }

  .check {
    display: flex;
    padding-left: 1.2em;
    align-items: center;
}

.header__btn__serch {
  top: 26px;
  right: 50px
}

.header__btn__serch--active {
  transform: translateX(-25px);
 }

.search {
  padding: 9px 90px 4px 29px;
}

.hero-container {
  padding: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding: 160px 78px;
}

.hero-btn {
  align-self: flex-start;
}

.hero-swiper {
  border-radius: 16px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 25px;
  left: 10px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 20px 0 0;
}

}

@media (min-width: 767px) and (max-width: 992px) {


  .title-h3 {
    font-size: 24px;
    line-height: 29px;
  }

  .header {
    padding: 8px 0;
    margin-bottom: 25px;
  }

  .header-container {
padding: 3px 50px;
}

.burger {
  margin-right: 39%;
}

.header__btn__serch {
  top: 16px;
  right: 50px
}

.header__btn__serch--active {
  transform: translateX(-25px);
 }

.search {
  padding: 9px 90px 4px 29px;
  top: -30px;
}


.hero-container {
  padding: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding: 159px 40px;
  align-items: center;

}

.hero-swiper {
  border-radius: 16px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 25px;
  left: 10px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 20px 0 0;
}

.hero-h1 {
  font-size: 50px;
  line-height: 61px;
}

.hero-text {
  font-size: 18px;
  line-height: 22px;
}

.hero-btn {
  align-self: flex-start;
}

.about {
  padding: 27px 0 10px 0;
}

.about-text {
  margin-bottom: 55px;
}

.about-content-left-block-text {
  margin: 0;
  margin-right: auto;
}

.about-content-left {
  height: 650px;
}

.about-content-left-block {
  padding: 33px 40px;
}

.about-content-right-img svg {
  width: 85%;
}

.top-block {
  padding: 31px 40px;
}

.bot-block {
  padding: 32px 40px;
}

.about-content-right-img {
 margin-right: 0 ;
 width: 22%;
 height: auto;
}

.about-text-right {
  margin-bottom: 0;
}

.work {
  padding: 10px 35px 28px 35px;
}

.work-list {
  margin-bottom: 50px;
}

.work-item {
  margin-right: 23.3%;
}

.work-item:last-child {
  margin-right: 0;
}

.work-before {
  margin-bottom: 38px;
  width: 100%;
  height: 284px;
}

.work-before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 20px;
}

.work-content {
  flex-direction: column-reverse;
  padding: 0;
 }

.work-content-left {
  width: 100%;
}

.questions {
  padding: 30px 35px 113px 34px;
}

.question-h2 {
  margin-bottom: 32px;
}

.item-top-question {
  width: 87%;
}

.footer {
  padding: 47px 0;
}

.footer-nav {
  display: none;
}

.footer-container {
  flex-direction: column-reverse  ;

}

.footer-center {
  width: 81%;
  margin-bottom: 50px;
}

.check-box {
  margin-top: 1.4em;
}

.footer-left .logo {
  margin-bottom: 12px;
}

.footer-btn {
  margin-right: 0;
}

}

@media (min-width: 575px) and (max-width: 767px) {

  .title-h3 {
    font-size: 24px;
    line-height: 29px;
  }

  .header {
    padding: 8px 0;
    margin-bottom: 25px;
  }

  .header-container {
padding: 3px 50px;
}

.burger {
  margin-right: 39%;
}

.header__btn__serch {
  top: 20px;
  right: 50px
}

.header__btn__serch--active {
  transform: translateX(-25px);
 }

.search {
  padding: 9px 90px 4px 29px;
  top: -30px;
}

.hero-container {
  padding: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding: 59px 15px;
  align-items: center;

}

.hero-swiper {
  border-radius: 16px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 10px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 21px 0 0;
}


.hero-h1 {
  font-size: 50px;
  line-height: 61px;
}

.hero-text {
  font-size: 18px;
  line-height: 22px;
}


.about {
  padding: 27px 0 10px 0;
}

.about-text {
  margin-bottom: 55px;
}

.about-content-left-block-text {
  margin: 0;
  margin-right: auto;
}

.about-content-left {
  height: 650px;
}

.about-content-left-block {
  padding: 33px 40px;
}

.about-content-right-img svg {
  width: 85%;
}

.top-block {
  padding: 31px 40px;
}

.bot-block {
  padding: 32px 40px;
}

.about-content-right-img {
 margin-right: 0 ;
 width: 22%;
 height: auto;
}


.about-text-right {
  margin-bottom: 0;
}

.work {
  padding: 10px 35px 28px 35px;
}

.work-before {
  margin-bottom: 21px;
  width: 100%;
  height: 240px;
}

.work-before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 240px;
  top: 0;
  right: 0;
  border-radius: 20px;
}

.work-content {
  flex-direction: column-reverse;
  padding:0;
}

.work-content-left {
  width: 100%;
}

.questions {
  padding: 30px 35px 113px 34px;
}

.item-top-question {
  width: 87%;
}

.footer-nav {
  display: none;
}

.footer-container {
  flex-direction: column-reverse  ;
}

.footer-left {
  width: 100%;
}

.footer-center {
  width: 100%;
  margin-bottom: 50px;
}

.footer-left .logo {
  margin-bottom: 12px;
}

.footer-btn {
  margin-right: 0;
  padding: 18px 14px;
}

}

@media (min-width:321px) and (max-width:575px) {


  .header {
    margin-bottom: 15px;
    padding: 0;
    border-radius: 0 0 26px 26px;
  }

  .header-container {
    padding: 15px 15px;
  }

  .burger {
    margin-right: 32%;
  }

  .header__logo img {
    margin-right: auto;
    width: 64%
  }

  .header__btn__serch {
    top: 22px;
    right: 17px
  }

  .header__btn__serch--active {
    transform: translateX(-50px);
   }

  .search {
    padding: 9px 80px 4px 29px;
    max-width: 300px;
  }

  .hero {
    padding: 10px 17px 30px 17px;
  }

  .hero-h1 {
    margin-bottom: 6px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  }

  .hero-text {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero-container {
    padding: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 59px 15px;
    align-items: center;

  }

  .hero-swiper {
    border-radius: 16px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
    left: 10px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 21px 0 0;
  }

  .btn {
    padding: 13px 28px;
    border-radius: 8px;
  }

 .hero-btn {
  font-size: 12px;
  line-height: 15px;
  margin-right: auto;
  margin-left: auto;
  min-width: auto;
}

.title-h2 {
  font-size: 24px;
line-height: 29px;
}

.about {
  padding: 29px 0px 35px 6px;

}

.about-container {
  padding: 0 8px;
  margin-bottom: 0;
}

.about-text {
  margin-bottom: 43px;
  font-size: 14px;
  line-height: 28px;

}

.about-content {
  padding-right: 5px;
  flex-direction: column;
  min-height: auto;
}

.about-content-left {
  flex-direction: column;
  margin: 0;
  margin-bottom: 32px;
  height: auto;
  background-size: 100% auto;
  background-position: top center;
  border-radius: 16px;
}

.about-content-left-block {
  flex-direction: column;
  margin-bottom: 20px;
  padding: 72% 0 0 0 ;
  background: none;
}

.about-content-left-block-text {
  margin-bottom: 14px;
font-size: 14px;
line-height: 28px;
font-weight: 400;
color: #000000;
}

.about-btn {
  align-self: flex-start;
  padding: 9px 42px;
  color: #FF9900;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border: 2px solid #FF9900;
}

.about-btn:hover {
  color: #ffff;
}

.top-block, .bot-block {
  margin-bottom: -8;
  flex-direction: column;
  justify-content: start;
  align-self: flex-start;
  padding: 0px 3px 0 3px;
  border: none;
  border-radius: 0;
}

.bot-block {
  margin-bottom: 0;
}


.about-content-right-img {
  margin-right: 0 ;
  width: 30%;
  height: auto;
  align-self: flex-start;
 }

 .about-content-right-img svg {
   width: 75%;
   height: auto;
 }

 .title-h3 {
  font-weight: 500;
font-size: 18px;
line-height: 22px;
 }

 .about-h3 {
  margin-bottom: 5px;
 }

 .about-content-right-text {
  min-height: 184px;
 }

 .work {
  padding: 35px 0 20px 0;
 }

 .work-container {
  padding: 0px 15px 0 15px;
 }

 .work-h2 {
  margin-bottom: 21px;
 }

 .work-list {
  margin-bottom: 15px;
 }

 .work-item {
  margin-right: 14%;
 }

 .work-item:last-child {
  margin-right: 0;
 }

.work-link {
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}

.work-link:active {
  color: #E1670E ;
}

.work-before {
  margin-bottom: 21px;
  width: 100%;
  height: 160px;

}

.work-before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 160px;
  top: 0;
  right: 0;
  border-radius: 20px;
}

.work-content {
  flex-direction: column-reverse;
  padding:0;
}

.work-content-left {
  width: 100%;
}

.work-text {
margin-bottom: 25px;
font-weight: 400;
font-size: 14px;
line-height: 28px;
width: 100%;
}

.work-h3 {
  margin-bottom: 13px;
}

.work-content-left-btn {
  width: 100%;
}

.work-btn-more {
  display: inline-block;
  margin-right: 8px;
  padding: 12px 43px;
  font-weight: 700;
font-size: 12px;
line-height: 15px;
}

.work-btn-dill {
  display: inline-block;
  padding: 11px 31px;
  font-size: 12px;
line-height: 15px;
}

.questions {
  padding: 29px 0 60px 0;
}

.question-h2 {
  margin-bottom: 17px;
}
.item-top-question {
font-size: 14px;
line-height: 24px;
font-weight: 500;
width: 85%;
}

.questions-btn {
  width: 34px;
  height: 34px;
}

.item-top {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.footer-container {
  flex-direction: column-reverse;
}

.footer {
  padding: 0;
}

.footer-nav {
  display: none;
}

.footer-container {
  padding: 31px 15px;
}

.footer-center {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.footer-h2 {
  margin-bottom: 20px;
}

textarea {
  margin-bottom: 25px;
}

.form-check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-btn {
  width: 180px;
  padding: 12px 28px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
}

.check-box {
    position: absolute;
    margin-top: 0.2em;
}

.footer-social {
  display: flex;
  flex-direction: row;
}

.footer-logo svg {
  width: 131px;
  height: 42px;
}

.footer-social svg {
  width: 40px;
  height: 40px;
}

.footer-logo {
  margin-bottom: 15px;
}


.footer-center::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:  #414141;
  bottom:-24px ;
}

.footer-left {
  width: 100%;
  align-items: center;
}

.footer-social-item {
  width: 40px;
  height: 40px;

}


}

@media (max-width: 320px)  {


  .header {
    margin-bottom: 15px;
    padding: 0;
    border-radius: 0 0 26px 26px;
  }
  .header__nav {
    min-width: 320px;
  }

  .header-container {
    padding: 15px 15px;
  }

  .burger {
    margin-right: 32%;
  }

  .header__logo img {
    margin-right: auto;
    width: 64%
  }

  .header__btn__serch {
    top: 22px;
    right: 16px
  }

  .search {
    padding: 9px 75px 4px 29px;
    right: -10px;
  }

  .find-search--active {
    right: 48px;
  }

  .close-search--active {
    right: 15px;
  }


  .hero {
    padding: 10px 17px 30px 17px;
  }

  .hero-h1 {
    margin-bottom: 9px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  }

  .hero-text {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero-container {
    padding: 0;

  }

  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 58px 15px;
    align-items: center;

  }

  .hero-swiper {
    border-radius: 16px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
    left: 10px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 21px 0 0;
  }

  .btn {
    padding: 13px 28px;
    border-radius: 8px;
  }

 .hero-btn {
  font-size: 12px;
  line-height: 15px;
  margin-right: auto;
  margin-left: auto;
  min-width: auto;
}

.title-h2 {
  font-size: 24px;
line-height: 29px;
}

.about {
  padding: 29px 0 9px 6px;
}

.about-container {
  padding: 0 8px;
  margin-bottom: 30px;
}

.about-text {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 28px;

}

.about-content {
  padding-right: 5px;
  flex-direction: column;
  min-height: auto;
}

.about-content-left {
  flex-direction: column;
  margin: 0;
  margin-bottom: 32px;
  height: auto;
  background-size: 100% 50%;
  background-position: top center;
  border-radius: 16px;
}

.about-content-left-block {
  flex-direction: column;
  padding: 71% 0 0 0 ;
  background: none;
}

.about-content-left-block-text {
  margin-bottom: 14px;
font-size: 14px;
line-height: 28px;
font-weight: 400;
color: #000000;
}

.about-btn {
  align-self: flex-start;
  padding: 9px 42px;
  color: #FF9900;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border: 2px solid #FF9900;
}

.about-btn:hover {
  color: #ffff;
}

.top-block, .bot-block {
  margin-bottom: 19px;
  flex-direction: column;
  justify-content: start;
  align-self: flex-start;
  padding: 2px 10px 0 0;
  border: none;
}

.bot-block {
  margin-bottom: 0;
  padding: 4px 10px 0 0;
 }

.about-content-right-img {
  margin-right: 0 ;
  width: 30%;
  height: auto;
  align-self: flex-start;
 }

 .about-content-right-img svg {
   width: 75%;
   height: auto;
 }

 .title-h3 {
  font-weight: 500;
font-size: 18px;
line-height: 22px;
 }

 .about-h3 {
  margin-bottom: 5px;
 }

 .about-content-right-text {
  height: auto;
 }

 .work {
  padding: 10px 0 20px 0;
 }

 .work-container {
  padding: 0px 15px 0 15px;
 }

 .work-h2 {
  margin-bottom: 18px;
 }

 .work-list {
  margin-bottom: 15px;
 }

 .work-item {
  margin-right: 15%;
 }

 .work-item:last-child {
  margin-right: 0;
 }

.work-link {
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}

.work-link:active {
  color: #E1670E ;
}

.work-before {
  margin-bottom: 21px;
  width: 100%;
  height: 160px;

}

.work-before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 160px;
  top: 0;
  right: 0;
  border-radius: 20px;
}

.work-content {
  flex-direction: column-reverse;
  padding:0;
}

.work-content-left {
  width: 100%;
}

.work-text {
margin-bottom: 25px;
font-weight: 400;
font-size: 14px;
line-height: 28px;
width: 100%;
}

.work-h3 {
  margin-bottom: 13px;
}

.work-content-left-btn {
  width: 100%;
}

.work-btn-more {
  display: inline-block;
  margin-right: 8px;
  padding: 12px 43px;
  font-weight: 700;
font-size: 12px;
line-height: 15px;
}

.work-btn-dill {
  display: inline-block;
  padding: 11px 31px;
  font-size: 12px;
line-height: 15px;
}

.questions {
  padding: 29px 0 60px 0;
}

.question-h2 {
  margin-bottom: 17px;
}
.item-top-question {
font-size: 14px;
line-height: 24px;
font-weight: 500;
width: 85%;
}

.questions-btn {
  width: 34px;
  height: 34px;
}

.item-top {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.footer-container {
  flex-direction: column-reverse;
}

.footer {
  padding: 0;
}

.footer-nav {
  display: none;
}

.footer-container {
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 15px;
  padding-right: 20px;
}

.footer-center {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.footer-h2 {
  margin-bottom: 20px;
}

textarea {
  margin-bottom: 25px;
}

.form-check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-btn {
  width: 180px;
  padding: 12px 28px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
}

.check-box {
    position: absolute;
    margin-top: 0.2em;
}

.footer-social {
  display: flex;
  flex-direction: row;
}

.footer-logo svg {
  width: 131px;
  height: 42px;
}

.footer-social svg {
  width: 40px;
  height: 40px;
}

.footer-logo {
  margin-bottom: 15px;
}


.footer-center::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:  #414141;
  bottom:-24px ;
}

.footer-left {
  width: 100%;
  align-items: center;
}

.footer-social-item {
  width: 40px;
  height: 40px;

}
}
