html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
  outline: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Regular"),
  url("/fonts/Montserrat-Regular.woff2") format("woff2"),
  url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Bold"),
  url("/fonts/Montserrat-Bold.woff2") format("woff2"),
  url("/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-ExtraBold"),
  url("/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
  url("/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
--text-color: #000000;
--orange-color: #FF9900;
--darkorange: #E1670E;
--lightorange: #FFB84D;
--grey-color: #414141;
--lightgrey: #666666;
--width-plus: calc(60% + 1px);
}

/*glob*/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none ;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--text-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.container {
  max-width: 1770px;
  margin:0 auto;
  padding: 0 15px;
}

.btn {
  cursor: pointer;
  padding: 25px 38px;
  color: #FFFFFF;
  background-color: var(--orange-color);
  border-radius: 16px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  border: transparent;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  background-color: var(--lightorange);
  border: transparent;
}

.btn:hover {
  background-color: var(--lightorange);
  border: transparent;
}

.btn:active {
  border: transparent  ;
  background-color: var(--darkorange);
}

.title-h3 {
font-size: 24px;
line-height: 32px;
color: #000000;
}

.burger {
  display: none;
}


/*heder*/

.header {
  border-radius: 0 0 32px 32px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  padding: 11px 0;
}

.header-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.header__logo{
  margin-right: auto;
}

.header__nav {
  margin-right: 15%;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 85px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
  transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: 1px solid var(--orange-color);
  outline-offset: 5px;
}

.nav__link:hover {
  border-bottom: 2px solid var(--orange-color);
}

.nav__link:active:focus-visible {
  outline: none;
  color: var(--darkorange);
  border-bottom: 2px solid var(--darkorange);
}

.header__btn__serch {
  position: absolute;
  right: 15px;
  z-index: 100;
  transition: transform 0.3s ease-in-out, display 0.5s ease-in-out;
  visibility: visible;
 }

 .header__btn__serch--active {
  visibility: hidden;
 }

.header__btn__serch:hover rect {
  fill:var(--orange-color);
}

.header__btn__serch:hover  path {
  stroke:var(--orange-color);
}

.header__btn__serch:active rect {
  fill:var(--orange-color);
  outline: none;
}

.header__btn__serch:active path {
  stroke:var(--orange-color);
  outline: none;
}

.header-form {
  position: relative;
}

.search {
position: absolute;
top: -27px;
right: 0;
z-index: 10;
padding: 16px 100px 16px 32px;
max-width: 540px;
height: 60px;
background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
border-color: #CACACA;
border-radius: 24px;
visibility: hidden;
transform: scale(0);
transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.search::placeholder {
  border-bottom: 1px solid #CACACA;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.search--active {
  visibility: visible;
  transform: scale(1.0);
}

.find-search {
display: none;
transform: scale(0);
transition: transform 0.5s ease-in-out;
}

.close-search {
display: none;
transform: scale(0);
transition: transform 0.5s ease-in-out;
}

.close-search--active {
  display: block;
  position: absolute;
  z-index: 10;
  top: -15px;
  right: 38px;
  transform: scale(1.0);
}

.find-search--active {
  display: block;
  position: absolute;
  z-index: 10;
  top: -15px;
  right: 70px;
  transform: scale(1.0);
}

.close-search--active:focus {
  outline: 1px solid var(--orange-color);
  outline-offset: 2px;
 }

.close-search--active:hover rect {
  fill: var(--orange-color);
}

.close-search--active:hover circle {
  stroke: var(--orange-color);
 }

 .close-search--active:active rect {
  fill: #000000;
}

.close-search--active:active circle {
  stroke: #000000;
 }

 .find-search--active:hover path {
  stroke: var(--orange-color);
 }

 .find-search--active:hover rect {
  stroke: var(--orange-color);
  fill: var(--orange-color);
 }

 .find-search--active:focus {
  outline: 1px solid var(--orange-color);
  outline-offset: 2px;
 }



/*hero*/

.hero {
  padding: 25px 0;
}

.hero-content {
  padding: 100px 80px;
  position: relative;
  z-index: 1;
}

.hero-swiper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  border-radius: 32px;
}

.hero-slide-one {
  background-image: url("/img/bg_section_one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-slide-two {
  background-image: url("/img/bg_hero-two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-slide-three {
  background-image: url("/img/bg_hero-three.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 30px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #CACACA;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.hero-h1 {
  max-width: 837px;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero-text {
  max-width: 790px;
  margin-bottom: 88px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.hero-btn {
  min-width: 280px;
  border: none;
}

/*about us*/

.about {
  padding: 25px 0 50px 0;
}

.about-h2 {
  margin-bottom: 20px;
}

.about-text {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about-content {
  display: flex;
  align-items: stretch;
  min-height: 622px;
}

.about-content-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc((100% - 32px) / 2);
  height: auto;
  margin-right: 32px;
  background-image: url(/img/aboutusbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 32px;
}

.about-content-left-block {
  display: flex;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-content-left-block-text {
  margin: 0;
  margin-right: auto;
  max-width: 433px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-btn {
  align-self: center;
  padding: 13px 35px;
  font-size: 16px;
  color: #FFFFFF;
  border: 3px solid var(--orange-color);
  border-radius: 16px;
  background-color: transparent;
  text-align: center;
  transition: background-color 0.5s ease-in-out ;
}

.about-btn:hover{
background-color: var(--orange-color);
}

.about-btn:focus {
  background-color: var(--orange-color);
}

.about-btn:active {
  background-color: var(--darkorange);
}


.about-content-right {
  display: flex;
  flex-direction: column;
  width: calc((100% - 32px) / 2);
}

.top-block {
  overflow: hidden;
  padding: 64px 59px;
  height: calc((100% - 32px) / 2);
  margin-bottom: 32px;
  display: flex;
  border: 1px solid #CACACA;
  border-radius: 32px;

}

.about-content-right-img {
  max-width: 100%;
  margin-right: 47px;
  align-self: center;
}

.about-h3 {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;

}

.bot-block {
  overflow: hidden;
  padding: 60px 65px;
  min-height: calc((100% - 32px) / 2);
  display: flex;
  border: 1px solid #CACACA;
  border-radius: 32px;
}

.about-text-right{
  overflow: auto;
  margin: 0;
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/*how we work*/

.work {
  padding: 50px 0 50px 0;
}

.work-h2 {
  padding: 0;
  margin-bottom: 50px;
}

.work-list {
  margin-bottom: 45px;
  display: flex;
}

.work-item {
  margin-right: 85px;
}

.work-item:last-child {
  margin-right: 0;
}

.work-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.work-link--active {
  color: var(--darkorange);
  outline: none ;
}

.work-link:focus-visible {
  outline: 1px solid var(--orange-color);
  outline-offset: 5px;
}

.work-link:hover {
  color: #FF9900;
}


.work-content {
  display: flex;
  min-height: 400px;
}

.work-content-tabs {
  display: none;
}

.work-content-tabs--active {
  display: block;
}

.work-before {
  display: none;
  position: relative;
  width: 49%;
  height: auto;
}

.work-before--active {
  display: block;
}

.work-before::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: -15px;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

[data-imgtarget="stepone"].work-before--active::before {
  background-image: url("/img/hww1.jpg");
}

[data-imgtarget="steptwo"].work-before--active::before {
  background-image: url("/img/hww2.jpg");
}

[data-imgtarget="stepthree"].work-before--active::before {
  background-image: url("/img/hww3.jpg");
}

[data-imgtarget="stepfour"].work-before--active::before {
  background-image: url("/img/hww4.jpg");
}

.work-content-left {
  width: 40%;
  margin-right: auto;
}

.work-h3 {
  margin-bottom: 8px;
}

.work-text {
  padding: 0;
  margin-bottom: 41px;
}

.work-btn-more {
  padding: 21px 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 32px;

}

.work-btn-dill {
  padding: 20px 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 16px;
  transition: color 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

.work-btn-dill:focus {
  background-color: var(--lightgrey);
    color: #fff;
}

.work-btn-dill:hover {
  background-color: var(--lightgrey);
  color: #fff;
}

.work-btn-dill:active {
  background-color:#000000;
  color: #fff;
}

/*question*/

.questions {
  padding: 70px 0 95px 0;
}

.question-h2 {
  margin-bottom: 30px;
  padding-top: 11px;
}


.questions-btn {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.questions-btn:focus-visible {
  outline: 0;
}

.btn-plus {
  background-color: #ECECEC;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.btn-plus::before {
  content: "";
  position: absolute;
  top: calc((100% - 1px) / 2);
  left: calc((100% - var(--width-plus)) / 2);
  height: 1px;
  width: var(--width-plus);
  background-color: var(--lightgrey);
}

.btn-plus::after {
  content: "";
  position: absolute;
  top: calc((100% - 1px) / 2);
  left: calc((100% - var(--width-plus)) / 2);
  height: 1px;
  width: var(--width-plus);
  background-color: var(--lightgrey);
  transform: rotate(90deg);
}

.item-top {
  border: 0;
  padding-top: 32px;
  padding-bottom: 29px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
  background-color: transparent;
  position: relative;
  margin-top: -1px;
  transition: border-color .3s ease-in-out;
}
.questions-item:first-child .item-top {
  border-top: 1px solid gray;
}
.item-top-question {
  text-align: left;
  margin-right: auto;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  transition: color .3s ease-in-out;
}

.item-bottom {
overflow: hidden;
visibility: hidden;
transition-property: height, visibility;
transition-timing-function: ease;
}

.questions-item--active .item-bottom {
  visibility: visible;
}

.questions-item--active .btn-plus {
  transform: rotate(45deg);
}

.item-bottom-answer {
padding: 20px 0;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #000000;
}

.item-top:focus-visible { outline: 0; }
.item-top:hover:not(:active),
.item-top:focus-visible:not(:active),
.list__item:first-child .item-top:hover:not(:active),
.questions-item:first-child .item-top:focus-visible:not(:active) {
  border-color: var(--orange-color);
}

.item-top:hover:not(:active) .item-top-question,
.item-top:focus-visible:not(:active) .item-top-question {
  color: var(--orange-color);
}
.item-top:hover:not(:active) .item-top-btn,
.item-top:focus-visible:not(:active) .item-top-btn {
  background-color: orange;
}

.item-top-btn,
.item-top-btn:before,
.item-top-btn:after {
  transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}
.item-top:hover:not(:active) .item-top-btn:before,
.item-top:hover:not(:active) .item-top-btn:after,
.item-top:focus-visible:not(:active) .item-top-btn:before,
.item-top:focus-visible:not(:active) .item-top-btn:after {
  background-color: #fff;
}
.item-top:active .item-top-btn {
  transform: rotate(45deg);
}

/*footer*/

.footer {
  padding: 50px 0;
  background-color: #000000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  margin-right: 6.5%;
  display: flex;
  flex-direction: column;
  width: 14.2%;
}

.footer-left .logo {
  margin-bottom: 20px;
}

.footer-nav {
  margin-bottom: auto;
}

.footer-nav .nav__item {
  margin-right: 0;
}

.footer-left .nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.footer .nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
}

.footer-social-item {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.footer-social-item path {
  transition: fill 0.3s ease-in-out;
}

.footer-social-item:not(:last-child) {
  margin-right: 25px;
}

.footer-social-item:hover path {
  fill: var(--orange-color);
}

.footer-social-item:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange-color);
}

.footer-social-item:active {
  outline: none;
}

.footer-social-item:active path {
  fill: var(--darkorange);
}


.footer-center {
  width: 32.2%;
  display: flex;
  flex-direction: column;
}

.footer-h2 {
  color: #CACACA;
  margin-bottom: 25px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 14px 24px;
  margin-bottom: 25px;
  min-height: 60px;
  background-color: #414141;
  border-radius: 16px;
  border: none;
  color: #CACACA;
  transition: background-color 0.3s ease-in-out;
}

.form-input:focus {
  background-color: var(--lightgrey);
}

.form-input:hover {
  background-color: var(--lightgrey);
}

.form-input:active {
  background-color: var(--lightgrey);
}

textarea {
  padding: 20px 24px;
  min-height: 150px;
  background-color: #414141;
  border-radius: 16px;
  margin-bottom: 34px;
  color: #CACACA;
  transition: background-color 0.3s ease-in-out;
  resize: none;
}

textarea:focus {
  background-color: var(--lightgrey);
}

textarea:hover {
  background-color: var(--lightgrey);
}

textarea:active {
  background-color: var(--lightgrey);
}


.footer-btn {
  margin-right: 9px;
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

::placeholder {
  color: #CACACA;
}

.check {
  padding-left: 1.2em;
  transition: 0.3s ease-in-out;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  margin-top: 1.4em;
  margin-right: 1.5em;
  margin-left: -1.2em;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.check-box {
  position: absolute;
  margin-top: 1.5em;
  margin-right: -1.5em;
  margin-left: -1.1em;
  width: 0.8em;
  height: 0.8em;
  outline: 1px solid #CACACA;
  border-radius: 2px;
  transition: outline 0.3s ease-in-out;
 }


.check-input:checked + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94952 1.08233L3.99977 6.03208L1.17135 3.20365' stroke='%2397EE3F' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.check:hover .check-box {
  outline: 1px solid var(--orange-color);
 }

 .check:hover .check-text {
  color: var(--orange-color);
 }

.check:focus-visible .check-box {
  outline: 1px solid var(--orange-color);
 }

.check-text {
  color: #CACACA;
  transition: color 0.3s ease-in-out;;
}

.footer-right {
  display: flex;
  align-items: center;
  width: 20.5%;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.footer .nav__link:focus {
  outline: 1px solid var(--orange-color);
  outline-offset: 5px;
}

.footer .nav__link:hover {
 color: var(--orange-color);
 border-bottom: none;
}

.footer .nav__link:active {
  outline: none;
  color: var(--darkorange);

}
